absl-py==0.14.1
aiohttp==3.9.3
aiosignal==1.3.1
alabaster==0.7.12
anyio==3.6.2
apex==0.1
appdirs==1.4.4
argon2-cffi==21.1.0
asgiref==3.4.1
async-timeout==4.0.3
attrs==21.2.0
audioread==2.1.9
Babel==2.11.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.10.0
bleach==4.1.0
blis==0.7.4
brotlipy==0.7.0
cachetools==4.2.4
catalogue==2.0.6
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.0
click==8.0.1
cloudpickle==2.2.1
codecov==2.1.12
colorama==0.4.4
conda==4.10.3
conda-build==3.21.4
conda-package-handling==1.7.3
coverage==6.0.1
cryptography==3.4.7
cycler==0.10.0
cymem==2.0.5
Cython==0.29.24
dataclasses==0.8
debugpy==1.5.0
decorator==5.1.0
deepspeed==0.11.1
defusedxml==0.7.1
Django==3.2.6
docutils==0.17.1
entrypoints==0.3
expecttest==0.1.3
fastjsonschema==2.16.2
filelock==3.3.0
flake8==3.7.9
Flask==2.0.2
frozenlist==1.4.1
fsspec==2024.3.1
future==0.18.2
glob2==0.7
google-auth==1.35.0
google-auth-oauthlib==0.4.6
graphsurgeon==0.4.5
grpcio==1.41.0
gunicorn==20.1.0
h11==0.12.0
hjson==3.1.0
horovod==0.28.1
httptools==0.2.0
hypothesis==4.50.8
idna==3.1
imagesize==1.2.0
importlib-metadata==6.0.0
importlib-resources==5.10.2
iniconfig==1.1.1
iopath==0.1.9
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.6
jsonschema==4.17.3
jupyter_client==7.4.9
jupyter_core==5.1.5
jupyter-server==1.23.5
jupyter-tensorboard==0.2.0
jupyterlab==3.2.5
jupyterlab-pygments==0.2.2
jupyterlab_server==2.19.0
jupytext==1.14.4
kiwisolver==1.3.2
libarchive-c==3.1
librosa==0.8.1
lightning-utilities==0.11.2
llvmlite==0.35.0
lmdb==1.2.1
Markdown==3.3.4
markdown-it-py==1.1.0
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mccabe==0.6.1
mdit-py-plugins==0.2.8
mistune==2.0.4
mock==4.0.3
mpi4py==3.1.5
mpmath==1.3.0
multidict==6.0.5
murmurhash==1.0.5
nbclassic==0.5.1
nbclient==0.5.4
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==2.0
ninja==1.11.1.1
nltk==3.6.4
notebook==6.4.1
notebook_shim==0.2.2
numba==0.52.0
numpy==1.21.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-dali-cuda110==1.6.0
nvidia-dlprof-pytorch-nvtx==1.6.0
nvidia-dlprofviewer==1.6.0
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.1.105
nvidia-nvtx-cu12==12.1.105
nvidia-pyindex==1.0.9
oauthlib==3.1.1
onnx==1.8.204
packaging==23.0
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.2
pathy==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pip==21.2.4
pkginfo==1.7.1
pkgutil_resolve_name==1.3.10
platformdirs==2.6.2
pluggy==1.0.0
polars==0.19.11
polygraphy==0.33.0
pooch==1.5.1
portalocker==2.3.2
preshed==3.0.5
prettytable==2.2.1
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==3.18.1
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.8.0
pycocotools==2.0+nv0.5.1
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.20
pydantic==1.8.2
pydot==1.4.2
pyflakes==2.1.1
Pygments==2.10.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks==1.7.1
pytest==6.2.5
pytest-cov==3.0.0
pytest-pythonpath==0.7.3
python-dateutil==2.8.2
python-dotenv==0.19.1
python-hostlist==1.21
python-nvd3==0.15.0
python-slugify==5.0.2
pytorch-lightning==2.1.0
pytorch-quantization==2.1.0
pytz==2021.3
PyYAML==5.4.1
pyzmq==25.0.0
regex==2021.10.8
requests==2.28.2
requests-oauthlib==1.3.0
resampy==0.2.2
revtok==0.0.3
rsa==4.7.2
ruamel-yaml-conda==0.15.80
sacremoses==0.0.46
scikit-learn==1.0
scipy==1.6.3
Send2Trash==1.8.0
setuptools==58.2.0
shellingham==1.4.0
six==1.16.0
smart-open==5.2.1
sniffio==1.3.0
snowballstemmer==2.1.0
SoundFile==0.10.3.post1
soupsieve==2.0.1
spacy==3.1.3
spacy-legacy==3.0.8
Sphinx==4.2.0
sphinx-glpi-theme==0.3
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
srsly==2.4.1
sympy==1.12
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorrt==8.0.3.4
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
thinc==8.0.10
threadpoolctl==3.0.0
tinycss2==1.2.1
toml==0.10.2
tomli==1.2.1
torch==2.2.1+cu121
torchaudio==2.2.1+cu121
torchmetrics==1.3.2
torchvision==0.17.1+cu121
tornado==6.2
tqdm==4.62.3
traitlets==5.8.1
triton==2.2.0
typer==0.4.0
typing_extensions==4.11.0
tzdata==2024.1
uff==0.6.9
urllib3==1.26.7
uvicorn==0.15.0
uvloop==0.16.0
wasabi==0.8.2
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.5.0
websockets==10.0
Werkzeug==2.0.2
wheel==0.37.0
whitenoise==5.3.0
yarl==1.9.4
zipp==3.12.0
